*
    margin: 0
    padding: 0
    box-sizing: border-box
    outline: none

//colors 
$green: #65eb7b
$darkGreen: #4ecc62
$dark: #222422
$lightGray: #d1d0cd

//mixins 
=flexCenter()
    display: flex 
    justify-content: center
    align-items: center
    flex-wrap: wrap

body 
    font-family: 'Roboto', sans-serif
    color: $dark
    overflow-x: hidden



